//footer
.footer {
    background: $primary;
    color: #fff;
    padding: 40px 0 12px 0;
    .btn_sm {
        min-width: 225px;
        margin-bottom: 24px;
        // background: $lightgreen;
        // color: #fff;
        @media (max-width:767px) {
            width: 100%;
        }
    }
    .footer_row {
        display: grid;
        grid-template-columns: 230px 1fr;
        border-bottom: 1px solid #505c55;
        padding-bottom: 18px;
        gap: 64px;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }
    .menus {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }
    .top-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        h2 {
            font-size: 28px;
            font-style: normal;
            font-weight: 300;
            padding-right: var(--bs-gutter-x);
            padding-left: var(--bs-gutter-x);
            @media (max-width:1024px){
               display: none;
            }
        }
        .select-building {
            .btn_sm {
                margin: 0;
                border: none;
                background: $lightgreen;
                color: #fff;
                &::after {
                    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M9.48555 14.7816C9.7793 15.0754 10.2543 15.0754 10.5449 14.7816L16.7949 8.53164C17.0887 8.23789 17.0887 7.76289 16.7949 7.47227C16.5012 7.18164 16.0262 7.17852 15.7355 7.47227L10.0168 13.191L4.29805 7.47227C4.0043 7.17852 3.5293 7.17852 3.23867 7.47227C2.94805 7.76602 2.94492 8.24102 3.23867 8.53164L9.48867 14.7816H9.48555Z" fill="%231E1E1E"/></svg>');
                    border: none;
                    vertical-align: -4px;
                    transform: rotate(180deg);
                    @include img-white;
                    height: 22px;
                }
                &:hover,
                &:focus {
                    background: $secondary;
                    color: $black;
                    &::after {
                        @include img-black;
                    }
                }
            }
            &.show {
                .btn_sm {
                    background: $secondary;
                    &::after {
                        // transform: rotate(180deg);
                        @include img-black;
                    }
                }
            }
            .dropdown-menu {
                border-radius: 0px;
                background: var(--Grayscale-White, #fff);
                box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
                padding: 8px 12px;
                position: absolute;
                bottom: 100%;
                top: unset;
                a {
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: none;
                    padding: 12px 24px;
                }
            }
            @media (max-width:767px) {
                width: 100%;
            }
        }
    }
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        max-width: 400px;
        @include md {
            margin-left: 0;
            padding: 0;
        }
        &:last-child {
            // margin-left: auto;
            @include md {
                margin-left: 0;
                padding-top: 12px;
            }
        }
        @include md {
            max-width: 100%;
        }
    }
    .footer-logo {
        margin-bottom: 24px;
        img {
            width: 233.067px;
        }
    }
    .footer-social {
        display: flex;
        padding-left: 0;
        margin-bottom: 24px;
        li {
            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                background: $lightgreen;
                border-radius: 100px;
                transition: background 0.2s;
                img {
                    max-width: 25px;
                }
                &:hover {
                    background: $secondary;
                    img {
                        @include img-black;
                    }
                }
            }
        }
    }
    h2 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        color: $white;
        margin-bottom: 16px;
    }
    .mobile-only {
        display: none;
        @media (max-width: 1024px) {
            display: block;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            margin-bottom: 24px;
        }
    }
    .footer-contact {
        margin-bottom: 8px;
        display: grid;
        grid-template-columns: 24px auto;
        p {
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 500;
            color: #fff;
            a {
                color: #fff;
                font-weight: inherit;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .footer-icon {
            width: 18px;
            height: 18px;
            display: inline-block;
            align-items: center;
            justify-content: center;
            img {
                width: 18px;
                height: 18px;
            }
        }
        .con_info {
            display: inline;
        }
        span {
            font-size: 18px;
            line-height: 1.3;
        }
        .font-weight-bold {
            // font-family: "Inter", Arial, sans-serif;
            // font-weight: 700;
        }
        strong {
            margin-bottom: 10px;
            font-weight: 500;
            color: #052e70;
            font-size: 18px;
        }
        @media (min-width: 1024px) {
            // width: 50%;
            // float: left;
        }
    }
    .footer-links {
        li {
            margin-bottom: 16px;
            a {
                color: #fff;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    .footer-divider {
        border-top: 1px solid rgba(255, 255, 255, 0.6);
        margin: 24px 0 20px 0;
    }
    .footer-copyright {
        margin-top: 22px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        span {
            margin: 0 8px;
        }
        a {
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        .separator {
            margin: 0 5px;
        }
    }
    @media (max-width: 1024px) {
        padding: 24px 20px ;
        .footer-social {
            margin-bottom: 32px !important;
        }
    }
}
